.header-div {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;

    background-image: url("../imgs/banner.png");
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.nav-div a {
    color: white;
    font-size: 12px;
}
ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.title {
    max-width: 500px;
    width: 100%;
    font-size: 60px;
    color: white;
    font-weight: 900;
    margin: 170px auto 20px;
}
.title-wrapper {
    color: white;
    max-width: 352px;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin: 0 auto;
}
/* header end*/
section {
    max-width: 1360px;
    width: 100%;
    margin: 70px auto;
}
/* section 1*/
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-text {
    max-width: 444px;
    width: 100%;
}
.about-text h4 {
    font-size: 14px;
    font-weight: bold;
    color: #5863F8;
}
.about-text h2 {
    font-size: 42px;
    font-weight: bolder;
}
.about-text p {
    margin-top: 15px;
}
.read-more{
    margin: 20px;
    width: 140px;
    height: 40px;
    background-color: #5863F8;
    display: flex;
    align-items: center;
}
.read-more p {
    margin: auto;
    font-size: 14px;
    color: white;
}
.read-more img {
    margin-right: ;
}
/*section 1 end*/
/*section 2*/
.about-us-container {
    background-image: url(../imgs/about-us-banner.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
}
.about-us-container > div {
    max-width: 1088px;
    width: 100%;
    margin: auto;
}
.about-us-container h4 {
    font-size: 14px;
    font-weight: bold;
}
.about-us-container h2 {
    font-size: 42px;
    font-weight: 900;
    color: white;
    max-width: 376px;
    width: 100%;
}
.hotel-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
}
.cards {
    width: 260px;
    height: 260px;
    background-color: white;
    padding: 25px 0;
}
.cards h5 {
    width: 155px;
    font-size: 18px;
    font-weight: normal;
    margin: 15px auto;
}
.cards p {
    width: 220px;
    color: #B1B1B1;
    margin: 0 auto;
}
.card-img {
    width: 59px;
    height: 59px;
    background-color: #5863F8;
    border-radius: 50%;
    margin: 15px auto;
    display: flex;
}
.card-img > img {
    margin: auto;
}
/*section 3*/
.section-3-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
    height: 487px;
}
.costumer-wrapper {
    margin: auto;
    max-width: 450px;
    width: 100%;
}
.costumer-wrapper h4 {
    font-size: 14px;
    font-weight: bold;
}
.costumer-wrapper h2 {
    font-size: 42px;
    font-weight: 700;
}
.costumer-wrapper div, img, h6  {
   display: flex;
   align-items: center;
   margin: 20px 17px 20px 0;
}
.costumer-wrapper p {
    max-width: 352px;
}
/*section 4*/
.section-4 {
    width: 1088px;
}
.Restaurant-title {
    font-size: 14px;
    font-weight: bold;
}
.Restaurant-title-2 {
    font-size: 42px;
    font-weight: 700;
    width: 460px;
}
.reataurant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.food-desert-wrapper {
    width: 536px;
    display: flex;
    align-items: center;
}
.food-desert-wrapper h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
.food-desert-wrapper p {
    width: 240px;
    font-size: 14px;
    color: #B1B1B1;
}
.item_end{
    width: 60px;
    height: 190px;
    background-color: #5863F8;
    background-image: url(../imgs/2ndpage/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
/*section 5*/
.section-5 {
    width: 1088px;
}
.section-5 h5 {
    font-weight: bold;
}
.section-5 h2 {
    width: 460px;
    font-size: 42px;
    font-weight: 700;
}
.cards-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 360px;
}
.cards a {
    font-size: 14px;
    font-weight: bold;
}
.cards h3 {
    font-size: 18px;
    font-weight: 500;
}
.cards p {
    margin-top: 8px;
    width: 190px;
    font-size: 14px;
    color: #B1B1B1;
}